/* body {
    color: #404E67;
    background: #F5F7FA;
    font-family: 'Open Sans', sans-serif;
} */
/* TABLE USER MANAGEMENT */



.titleUM h1{
    margin-left: 70px;
    margin-top: 45px;
    font-size: 70px;
    font-weight: bold;
    color: #1450a3;
}
.search-add input{
    margin-left: 70px;
    margin-top: 15px;
    width: 560px;
    height: 60px;
    border: 3px solid #1450a3;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.btn-add {
    position: absolute;
    margin-top: 20px;
    margin-left: 25px;
    background-color: #1450a3;
    color: white;
    width: 200px;
    height: 50px;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.btn-add:hover, .btn-add:focus {
    background-color: white;
    outline: #1450a3 3px solid;
    color: black;
    cursor: pointer;
}
button:hover, button:focus{
    background-color: rgb(45, 235, 45);
    outline: rgb(34, 207, 34) 2px solid;
    cursor: pointer;
}
.table-wrapper {
    margin-top: 100px;
    width: 1000px;
    background: #fff;
    padding: 20px;	
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
button .add-new {
    margin-top: 100px;
    margin-left: 100px;
}
.table-title .add-new {
    margin-left: 20px;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
}
table.table tr th, table.table tr td {
    border: 3px solid #1450a3;
    /* border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem; */
    text-align: center;
    font-size: 20px;
}
/* table.table td {
    color: #E34724;
} */
table.table tbody {
    border: 3px solid #1450a3;
}
table.table thead {
    background-color: #1450a3;
    color: white;
}
table.table th i {
    font-size: 50px;
    margin: 0 5px;
    cursor: pointer;
}
table.table th:last-child {
    width: 120px;
}
table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 30px;
}    
table.table td a.add {
    color: #27C46B;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #E34724;
}
table.table td i {
    font-size: 30px;
}
table.table td a.add i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}    
table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
table.table .form-control.error {
    border-color: #f50000;
}
table.table td .add {
    display: none;
}


/* ADD USER */
#popup{
    z-index: 1000;
    position: fixed;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 600px;
    height: 100px;
    padding: 300px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background: #1450a3;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border-radius: 10px;
}
#popup.active{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
.registration-box {
    justify-content: center;
}
.registration-box input{
    width: 100%;
    padding-top:20px;
    padding-right: 400px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    display: block;
    margin-left: -190px;
    margin-right: auto;
}
.registration-box label {
    display: block;
    position: absolute;
    font-size: 18px;
    color: gray;
    margin-top: -55px;
    margin-left: -270px;
    padding-left: 90px;
    text-align: left;
}
.first_name{
    margin-top: -180px;
}
.umContainer#blur.active{
    filter: blur(20px);
    pointer-events: none;
    z-index: 999;
}

h1{
    margin-top: 28px;
    margin-bottom: 28px;
    font-size: 21px;
    font-weight: 300;
}
p{
    margin-top: 28px;
    font-size: 22px;
}
.btnSave{
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    margin-left: -50px;
    padding: 10px 43px 10px 43px;
    border: none;
    border-radius: 32px;
    font-size: 20px;
    background-color: rgb(34, 207, 34);
    color: #fcfcfc;
}
button:hover, button:focus{
    background-color: rgb(45, 235, 45);
    outline: rgb(34, 207, 34) 2px solid;
    cursor: pointer;
}

.close-btn {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    color: white;
    font-size: 34px;
}
.close-btn:hover {
    background-color: red;
    border-radius: 0 10px 0 0;
    color: #fcfcfc;
    cursor: pointer;
}


.gradient-custom {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    animation-name: animate; 
    animation-direction: alternate-reverse;
    animation-duration: 35s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}
@keyframes animate{
    0%{
      background-image: url('Resources/movieslide1.jpg');
      filter: brightness(70%);
    }20%{
      background-image: url('Resources/movieslide2.jpg');
      filter: brightness(60%);
    }40%{
      background-image: url('Resources/movieslide3.jpg');
      filter: brightness(50%);
    }60%{
      background-image: url('Resources/movieslide4.jpg');
      filter: brightness(50%);
    }80%{
      background-image: url('Resources/movieslide5.jpg');
      filter: brightness(60%);
    }100%{
      background-image: url('Resources/movieslide1.jpg');  
      filter: brightness(70%);
    }
  }
.container{
    margin-bottom: 0;
    font-family: "Century Gothic";
    background-size: cover;
    background-position: auto;
    margin-top: -850px;
    background-repeat: no-repeat;
    scroll-margin-top: 100px;
    filter: brightness();
    
}
img[alt="loginlogo"]{
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}
.btn{
    background-color: transparent;
    transition:  .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
.btn:hover{
    border-color: #fff!important;
    color: #fff!important;
    background-color: #1854a4!important;
}

/* FOOTER */
footer {
    margin-top: 441px;
    width: 100%;
    height: 75px;
    background-color: #1450a3;
    position: fixed;
    display: block;
    color: white;
    font-size: 10px;
}
footer p{
    margin-top: 10px;
    margin-left: 180px;
    font-family: "Century Gothic";
    font-weight: lighter;
    font-size: 10px;
}
img[alt="mmlogo"]{
    margin-top: 20px;
    margin-left: 25px;
    position: absolute;
}
img[alt="samcislogo"]{
    margin-top: 15px;
    margin-left: 75px;
    position: absolute;
}
img[alt="slulogo"]{
    margin-top: 15px;
    margin-left: 120px;
    position: absolute;
}

  /* for CMS */
  .broadcastPanel{
    width: 750px;
    height: 765px;
    position: absolute;
 }

#time{
    font-family: "Century Gothic";
    font-size: 30px;
    font-weight: bolder;
    left: 35px;
    top: 0px;
    position: relative;
}

.broadcastMonitor{
    width: 700px;
    height: 350px;
    background-color: gray;
    position: relative;
    left: 15px;
    top: -15px;
}

#liveIndicator{
    font-family: "Century Gothic";
    font-size: 15px;
    font-weight: bolder;
    color: #fff;
    left: 530px;
    top: 35px;
    position: absolute;
    background-color: #D71D1D;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    border-radius: 10px;
}

#onAirIndicator{
    font-family: "Century Gothic";
    font-size: 15px;
    font-weight: bolder;
    color: #fff;
    left: 630px;
    top: 35px;
    position: absolute;
    background-color: #D71D1D;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    border-radius: 10px;
}

#broadcastButtons {
    width: 300px;
    height: 250px;
    position: relative;
    left: 15px;
    top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#startbtn {
    font-family: "Century Gothic";
    font-size: 35px;
    font-weight: bolder;
    color: #fff;
    margin-top: 10px;
    width: 265px;
    height: 96px;
    order: 1; 
    background-color: #D71D1D;
    border-radius: 15px;
    border: none; 
    outline: none;
    transition: transform 0.2s;
}

#startbtn:hover{
    transform: scale(1.1);
}

#startbtn:active {
    transform: scale(0.9);
}

#stopbtn {
    font-family: "Century Gothic";
    font-size: 35px;
    font-weight: bolder;
    color: #fff;
    width: 265px;
    height: 96px;
    order: 2;
    margin-bottom: 10px;
    background-color: #1450a3;
    border-radius: 15px;
    border: none; 
    outline: none;
    transition: transform 0.2s;
}

#stopbtn:hover{
    transform: scale(1.1);
}

#stopbtn:active {
    transform: scale(0.9);
}

#liveManager{
    width: 350px;
    height: 275px;
    position: absolute;
    left: 345px;
    top: 450px;
    text-align: center;
    border-radius: 15px;
    border: 5px solid #D71D1D;
}

#liveManager h2{
    font-family: "Century Gothic";
    font-size: 20px;
    font-weight: bolder;
}

#startLivebtn{
    width: 126px;
    height: 40px;
    position: relative;
    top: 25px;
    left: -10px;
    font-family: "Century Gothic";
    font-size: 15px;
    font-weight: bolder;
    color: #fff;
    background-color: #D71D1D;
    border-radius: 15px;
    border: none; 
    outline: none;
    transition: transform 0.2s;
}

#endLivebtn{
    width: 126px;
    height: 40px;
    position: relative;
    top: 25px;
    left: 10px;
    font-family: "Century Gothic";
    font-size: 15px;
    font-weight: bolder;
    color: #fff;
    background-color: #1450a3;
    border-radius: 15px;
    border: none; 
    outline: none;
    transition: transform 0.2s;
}

#changeChannelbtn{
    position: relative;
    top: 35px;
    width: 278px;
    height: 50px;
    font-family: "Century Gothic";
    font-size: 15px;
    font-weight: bolder;
    color: #fff;
    background-color: #1450a3;
    border-radius: 15px;
    border: none; 
    outline: none;
    transition: transform 0.2s;
}

#changeChannelbtn:hover, #endLivebtn:hover, #startLivebtn:hover{
    transform: scale(1.1);
}

#changeChannelbtn:active, #endLivebtn:active, #startLivebtn:active {
    transform: scale(0.9);
}

#liveManager h4{
    position: relative;
    top: 10px;
    left: 10px;
    font-family: "Century Gothic";
    font-size: 15px;
}

#channel1Indicator{
    position: absolute;
    top: 75px;
    left: 120px;
    width: 10px;
    height: 10px;
    background-color: #D71D1D;
    border-radius: 10px;
}

#channel2Indicator{
    position: absolute;
    top: 113px;
    left: 120px;
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 10px;
}

#sidebar{
    float: right;
    position: relative;
    top: 30px;
    width: 65px;
    height: 700px;
    background-color: #1450a3;
    border-radius: 10px;
}

#mmlogo2{
    width: 30px;
    height: auto;
    margin: 0;
    position: relative;
    top: 18px;
    left: 18px;
}

#historyIcon {
    width: 30px;
    height: auto;
    margin: 0;
    position: absolute;
    top: 125px;
    right: 15px;
    transition: transform 0.2s;
}

#historyIcon:hover{
    transform: scale(1.3);
}

#historyIcon:active{
    transform: scale(0.8);
}

#logoutIcon{
    width: 30px;
    height: auto;
    position: absolute;
    top: 635px;
    right: 15px;
    transition: transform 0.2s;
}

#logoutIcon:hover{
    transform: scale(1.3);
}

#logoutIcon:active{
    transform: scale(0.8);
}

#cmsPanel{
    position: absolute;
    top: 40px;
    left: 750px;
    width: 1075px;
    height: 700px;
    background-color: #1450a3;
    border-radius: 15px;
}

#uploadedFilesPanel{
    position: absolute;
    top: 55px;
    left: 770px;
    width: 500px;
    height: 670px;
    background-color: #083068;
    border-radius: 15px;
}

#uploadedFilesPanel h2{
    font-family: "Century Gothic";
    color: #fff;
    position: absolute;
    left: 20px;
}

#searchBox{
    width: 280px;
    height: 35px;
    position: absolute;
    top: 18px;
    left: 210px;
    background-color: #fff;
    border-radius: 10px;
}

#searchfld{
    width: 225px;
    height: 15px;
    position: absolute;
    left: 35px;
    top: -10px;
    background: transparent;
    border: none;
    outline: none; 
    font-family: "Century Gothic";
    font-weight: bold;
}

#searchBox i{
    width: 250px;
    height: 20px;
    position: absolute;
    top: 16px;
    left: 10px;
}
#uploadedFilesPanel table{
    position: absolute;
    top: 45px;
    border-collapse: collapse;
    margin: 25px;
    width: 450px;
    height: 450px;
    font-size: 12px;
    font-family: "Century Gothic";
}

#uploadedFilesPanel thead tr {
    background-color: #1854a4;
    color: white;
    text-align: left;
}

  #uploadedFilesPanel th, td {
  padding: 10px 35px;
  color: white;
  text-align: center;
}

#uploadedFilesPanel tbody tr:nth-of-type(even) {
    background-color: #1854a4;
}


#timeSlotsPanel{
    position: absolute;
    top: 55px;
    left: 1280px;
    width: 525px;
    height: 430px;
    background-color: #083068;
    border-radius: 15px;
}

#fillerPanel{
    position: absolute;
    top: 500px;
    left: 1280px;
    width: 525px;
    height: 225px;
    background-color: #083068;
    border-radius: 15px;
}




