body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New";
}
.titleUM h1{
    margin-left: 70px;
    margin-top: 55px;
    font-size: 80px;
    font-weight: bold;
    color: #1450a3;
}
.addTitleUM h1 {
    text-align: center;
    margin-top: 60px;
    font-size: 70px;
    font-weight: bold;
    color: #1450a3;
}
.search-add input{
    margin-left: 70px;
    margin-top: -155px;
    width: 560px;
    height: 60px;
    border: 3px solid #1450a3;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
#searchForm {
    margin-left: 10px;
}
.btn-search {
    position: absolute;
    text-align: center;
    font-size: 28px;
    margin-top: -65px;
    margin-left: 600px;
    background-color: #1450a3;
    color: white;
    width: 200px;
    height: 50px;
    border: #1450a3;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.btn-search:hover, .btn-search:focus {
    background-color: white;
    outline: #1450a3 3px solid;
    color: black;
    cursor: pointer;
}
button:hover,
button:focus {
    background-color: rgba(20, 80, 163, 0.7);
    outline: white 2px;
    cursor: pointer;
}
.btn-add {
    position: absolute;
    text-align: center;
    font-size: 28px;
    margin-top: -65px;
    margin-left: 820px;
    background-color: #1450a3;
    color: white;
    width: 200px;
    height: 50px;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.btn-add:hover, .btn-add:focus {
    background-color: white;
    outline: #1450a3 3px solid;
    color: black;
    cursor: pointer;
}
button:hover,
button:focus {
    background-color: rgba(20, 80, 163, 0.7);
    outline: white 2px;
    cursor: pointer;
}
.table-wrapper {
    margin-top: 80px;
    margin-left: 50px;
    width: 1000px;
    background: #fff;
    padding: 10px;	
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border: 5px solid #1450a3;
}
button .add-new {
    margin-top: 100px;
    margin-left: 100px;
}
.table-title .add-new {
    margin-left: 20px;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
}
table.table tr th, table.table tr td {
    border: 3px solid #1450a3;

    text-align: center;
    font-size: 20px;
}
table.table tbody {
    border: 3px solid #1450a3;
}
table.table thead {
    background-color: #1450a3;
    color: white;
}
table.table th i {
    font-size: 50px;
    margin: 0 5px;
    cursor: pointer;
}
table.table th:last-child {
    width: 120px;
}
table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 30px;
}    
table.table td a.add {
    color: #27C46B;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #E34724;
}
table.table td i {
    font-size: 30px;
}
table.table td a.add i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}    
table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
table.table .form-control.error {
    border-color: #f50000;
}
table.table td .add {
    display: none;
}

/* ADD USER */
#popup{
    z-index: 1000;
    position: fixed;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 600px;
    height: 100px;
    padding: 300px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background: #1450a3;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border-radius: 10px;
}
#popup.active{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
.registration-box {
    justify-content: center;
}
form{
    width: 100px;
    /* margin: 10 auto; Center the form horizontally */
    margin-top: 100px;
    /* margin-top: -170px; */
    margin-left: 750px;
    border: 1px black;
    font-size: 20px;
    font-family: ;

}
form input[type=text]{
    width:500px;
    height: 60px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    /* padding: 10px 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; */
}
form select#role {
    width:500px;
    height: 60px;
    border-radius: 10px;
    margin-bottom: 10px;
}

h1{
    margin-top: 28px;
    margin-bottom: 28px;
    font-size: 25px;
    font-weight: 300;
}
p{
    margin-top: 28px;
    font-size: 22px;
}
.btnSave{
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    margin-left: 200px;
    padding: 10px 43px 10px 43px;
    border: none;
    border-radius: 32px;
    font-size: 20px;
    background-color: rgb(34, 207, 34);
    color: #fcfcfc;
}
.btnSave:hover, .btnSave:focus{
    background-color: rgb(45, 235, 45);
    outline: rgb(34, 207, 34) 2px solid;
    cursor: pointer;
}

.close-btn {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    color: white;
    font-size: 34px;
}
.close-btn:hover {
    background-color: red;
    border-radius: 0 10px 0 0;
    color: #fcfcfc;
    cursor: pointer;
}

/* EDIT FORM */
.popup{
    
}

