/* @import "style2.css"; */
/* FOOTER */
footer {
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    margin-top: auto;
    width: 100%;
    bottom: 0px;
    background-color: #1450a3;
    color: white;
    font-size: 10px;
    padding: -10px 10%;
    border-top: 8px solid white;
    padding-top: 20px;
}
footer p{
    margin-left: 200px;
    font-family: "Century Gothic";
    font-weight: lighter;
}
img[alt="mmlogo"]{
    margin-top: 60px;
    margin-left: 25px;
    position: absolute;
}
img[alt="samcislogo"]{
    margin-top: 50px;
    margin-left: 75px;
    position: absolute;
}
img[alt="slulogo"]{
    margin-top: 50px;
    margin-left: 120px;
    position: absolute;
}