html {
    margin: 0;
}

body {
    position: relative;
    margin: 0;
}

button:hover{
    transform: scale(1.1);
}

button:active{
    transform: scale(0.9);
}

.broadcastPanel {
    width: 750px;
    height: 765px;
    position: absolute;
    left: 20%;
    transform: translateX(-50%);
}

#time{
    font-family: "Century Gothic";
    font-size: 30px;
    font-weight: bolder;
    left: 35px;
    top: 0px;
    position: relative;
}

.broadcastMonitor{
    width: 700px;
    height: 350px;
    background-color: gray;
    position: relative;
    left: 15px;
    top: -15px;
}

#liveIndicator{
    font-family: "Century Gothic";
    font-size: 15px;
    font-weight: bolder;
    color: #fff;
    left: 530px;
    top: 35px;
    position: absolute;
    background-color: #D71D1D;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    border-radius: 10px;
}

#onAirIndicator{
    font-family: "Century Gothic";
    font-size: 15px;
    font-weight: bolder;
    color: #fff;
    left: 630px;
    top: 35px;
    position: absolute;
    background-color: #D71D1D;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    border-radius: 10px;
}

#broadcastButtons {
    width: 300px;
    height: 250px;
    position: relative;
    left: 15px;
    top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#startbtn {
    font-family: "Century Gothic";
    font-size: 35px;
    font-weight: bolder;
    color: #fff;
    margin-top: 10px;
    width: 265px;
    height: 96px;
    order: 1; 
    background-color: #D71D1D;
    border-radius: 15px;
    border: none; 
    outline: none;
    transition: transform 0.2s;
}

#stopbtn {
    font-family: "Century Gothic";
    font-size: 35px;
    font-weight: bolder;
    color: #fff;
    width: 265px;
    height: 96px;
    order: 2;
    margin-bottom: 10px;
    background-color: #1450a3;
    border-radius: 15px;
    border: none; 
    outline: none;
    transition: transform 0.2s;
}

#liveManager{
    width: 350px;
    height: 275px;
    position: absolute;
    left: 345px;
    top: 450px;
    text-align: center;
    border-radius: 15px;
    border: 5px solid #D71D1D;
}

#liveManager h2{
    font-family: "Century Gothic";
    font-size: 20px;
    font-weight: bolder;
}

#startLivebtn{
    width: 126px;
    height: 40px;
    position: relative;
    top: 25px;
    left: -10px;
    font-family: "Century Gothic";
    font-size: 15px;
    font-weight: bolder;
    color: #fff;
    background-color: #D71D1D;
    border-radius: 15px;
    border: none; 
    outline: none;
    transition: transform 0.2s;
}

#endLivebtn{
    width: 126px;
    height: 40px;
    position: relative;
    top: 25px;
    left: 10px;
    font-family: "Century Gothic";
    font-size: 15px;
    font-weight: bolder;
    color: #fff;
    background-color: #1450a3;
    border-radius: 15px;
    border: none; 
    outline: none;
    transition: transform 0.2s;
}

#changeChannelbtn{
    position: relative;
    top: 35px;
    width: 278px;
    height: 50px;
    font-family: "Century Gothic";
    font-size: 15px;
    font-weight: bolder;
    color: #fff;
    background-color: #1450a3;
    border-radius: 15px;
    border: none; 
    outline: none;
    transition: transform 0.2s;
}

#liveManager h4{
    position: relative;
    top: 10px;
    left: 10px;
    font-family: "Century Gothic";
    font-size: 15px;
}

#channel1Indicator{
    position: absolute;
    top: 75px;
    left: 120px;
    width: 10px;
    height: 10px;
    background-color: #D71D1D;
    border-radius: 10px;
}

#channel2Indicator{
    position: absolute;
    top: 113px;
    left: 120px;
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 10px;
}

#sidebar{
    position: absolute;
    top: 40px;
    width: 65px;
    height: 700px;
    background-color: #1450a3;
    border-radius: 10px;
    left: calc(100% - 65px);
}
#mmlogo2,
#historyIcon,
#logoutIcon {
    position: absolute;
}

#mmlogo2 {
    width: 30px;
    height: auto;
    top: 18px;
    left: 18px;
}

#historyIcon {
    width: 30px;
    height: auto;
    top: 125px;
    right: 15px;
    transition: transform 0.2s;
}

#historyIcon:hover {
    transform: scale(1.3);
}

#historyIcon:active {
    transform: scale(0.8);
}

#logoutIcon {
    width: 30px;
    height: auto;
    top: 635px;
    right: 15px;
    transition: transform 0.2s;
}

#logoutIcon:hover {
    transform: scale(1.3);
}

#logoutIcon:active {
    transform: scale(0.8);
}


#cmsPanel {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-19.50%);
    width: 1075px;
    height: 700px;
    background-color: #1450a3;
    border-radius: 15px;
}

#uploadedFilesPanel{
    position: absolute;
    top: 15px;
    left: 1.5%;
    width: 500px;
    height: 670px;
    background-color: #083068;
    border-radius: 15px;
}

#uploadedFilesPanel h2{
    font-family: "Century Gothic";
    color: #fff;
    position: absolute;
    left: 20px;
}

#resultsBody {
    overflow-y: auto;
}

#searchBox{
    width: 280px;
    height: 35px;
    position: absolute;
    top: 18px;
    left: 210px;
    background-color: #fff;
    border-radius: 10px;
}

#searchfld{
    width: 225px;
    height: 25px;
    position: absolute;
    left: 35px;
    top: 2px;
    background: transparent;
    border: none;
    outline: none; 
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: 20px;
}

#searchBox i{
    width: 250px;
    height: 20px;
    position: absolute;
    top: 16px;
    left: 10px;
}
#uploadedFilesPanel table{
    position: absolute;
    top: 45px;
    border-collapse: collapse;
    margin: 25px;
    width: 450px;
    height: 525px;
    font-size: 12px;
    font-family: "Century Gothic";
    overflow: auto;
    display: block;
}

#uploadedFilesPanel table::-webkit-scrollbar {
    width: 10px;
    background: #fff;
    height: 10px;
}
#uploadedFilesPanel table::-webkit-scrollbar-thumb {
    background: #1854a4;
}

#uploadedFilesPanel thead tr {
    background-color: #1854a4;
    color: white;
    text-align: left;
}

  #uploadedFilesPanel th, td {
  padding: 10px 25px;
  color: white;
  text-align: center;
}
#uploadedFilesPanel tbody tr:nth-of-type(even) {
    background-color: #1854a4;
}

#uploadbtn{
    font-family: "Century Gothic";
    font-weight: bold;
    color: #fff;
    width: 150px;
    height: 30px;
    position: absolute;
    top: 615px;
    left: 170px;
    outline: none;
    background-color: #1450a3;
    border-radius: 15px;
    border: none; 
    outline: none;
    transition: transform 0.2s;
}

#timeslotSelection{
    position: absolute;
    top: 543px;
    width: 250px;
    height: 50px;
    left: 115px;
    border-radius: 15px;
    font-family: "Century Gothic";
    font-size: 15px;
    font-weight: bold;
    outline: 0;
    padding: 10px 20px;
}

#timeslotSelection:focus{
    outline:none;
}

#addbtn{
    font-family: "Century Gothic";
    font-weight: bold;
    color: #fff;
    width: 150px;
    height: 40px;
    position: absolute;
    top: 610px;
    left: 170px;
    outline: none;
    background-color: #13a222;
    border-radius: 15px;
    border: none; 
    outline: none;
    transition: transform 0.2s;
}

#timeSlotsPanel{
    position: absolute;
    top: 20px;
    left: 49.5%;
    width: 525px;
    height: 430px;
    background-color: #083068;
    border-radius: 15px;
}

#timeSlotsPanel h2{
    font-family: "Century Gothic";
    color: #fff;
    position: absolute;
    left: 20px;
    overflow: auto;
}

.timeslot{
    position: absolute;
    top: 60px;
    left: 15px;
    width: 493px;
    height: 125px;
    background-color: #1854a4;
    border-radius: 15px;
    font-family: "Century Gothic";
    color: #fff;
}

.timeslot h4,h3,p{
    position: relative;
    left: 15px;
    top: -10px;
}

.timeslot h3{
    font-size: 35px;
    top: -40px;
}

.timeslot p{

    top: -65px;
}


#fillerPanel{
    position: absolute;
    top: 460px;
    left: 49.5%;
    width: 525px;
    height: 225px;
    background-color: #083068;
    border-radius: 15px;
}

#editbtn{
    font-family: "Century Gothic";
    font-weight: bold;
    color: #fff;
    width: 150px;
    height: 30px;
    position: relative;
    top: -150px;
    left: 330px;
    outline: none;
    background-color: #083068;
    border-radius: 15px;
    border: none; 
    outline: none;
    transition: transform 0.2s;
}

#deletebtn{
    font-family: "Century Gothic";
    font-weight: bold;
    color: #fff;
    width: 150px;
    height: 30px;
    position: relative;
    top: -110px;
    left: 175px;
    outline: none;
    background-color: #D71D1D;
    border-radius: 15px;
    border: none; 
    outline: none;
    transition: transform 0.2s;
}

#addslotbtn{
    font-family: "Century Gothic";
    font-weight: bold;
    color: #fff;
    width: 150px;
    height: 30px;
    position: absolute;
    top: 20px;
    left: 345px;
    outline: none;
    background-color: #13a222;
    border-radius: 15px;
    border: none; 
    outline: none;
    transition: transform 0.2s;
}

#fillerPanel h2{
    font-family: "Century Gothic";
    color: #fff;
    position: absolute;
    left: 20px;
    overflow: auto;
}

#addsfillbtn{
    font-family: "Century Gothic";
    font-weight: bold;
    color: #fff;
    width: 150px;
    height: 30px;
    position: absolute;
    top: 20px;
    left: 345px;
    outline: none;
    background-color: #13a222;
    border-radius: 15px;
    border: none; 
    outline: none;
    transition: transform 0.2s;
}

#playerPanel {
    background-color: #1450a3;
    width: 100%;
    height: 18%;
    position: fixed;
    bottom: 0;
}

#playerPanel h2 {
    font-family: "Century Gothic";
    font-size: 1.8vw; 
    color: #fff;
    position: absolute;
    left: 2.5vw;
    top: -15px;
}

#player {
    background-color: #083068;
    width: 96.5%;
    height: 6%;
    position: fixed;
    top: 88.3%;
    left: 2.2em;
    border-radius: 10px;
}


#visualization {
    height: 50% !important; 
    color: #fff;
    margin-top: -35px;
    border-radius: 10px;
  }

#addTimeslot{
    width: 450px;
    height: 400px;
    background-color: #1854a4;
    border-radius: 15px;
    font-family: "Century Gothic";
    color: #fff;
    border: 0;
}

#addTimeslot h2 {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

#addTimeslot h5 {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

#addTimeslot::backdrop{
    background-color: #083068;
    opacity: 0.7;
}


#timeslotSelection2{
    width: 250px;
    height: 50px;
    left: 115px;
    top: 100px;
    border-radius: 15px;
    font-family: "Century Gothic";
    font-size: 15px;
    font-weight: bold;
    outline: 0;
    padding: 10px 20px;
}

#timeslotSelection3{
    width: 250px;
    height: 50px;
    left: 115px;
    top: 185px;
    border-radius: 15px;
    font-family: "Century Gothic";
    font-size: 15px;
    font-weight: bold;
    outline: 0;
    padding: 10px 20px;

}

#timeslotSelection4{
    width: 250px;
    height: 50px;
    left: 115px;
    top: 275px;
    border-radius: 15px;
    font-family: "Century Gothic";
    font-size: 15px;
    font-weight: bold;
    outline: 0;
    padding: 10px 20px;
}

#save-addslotbtn{
    font-family: "Century Gothic";
    font-weight: bold;
    color: #fff;
    width: 150px;
    height: 30px;
    background-color: #13a222;
    border-radius: 10px;
    border: none; 
    outline: none;
    transition: transform 0.2s;
    left: 170px;
    top: 375px;
    position: absolute;
}

#backbtn{
    font-family: "Century Gothic";
    font-weight: bold;
    color: #fff;
    width: 75px;
    height: 30px;
    background-color: #1854a4;
    border-radius: 10px;
    border: none; 
    outline: none;
    transition: transform 0.2s;
}

#timeslotSelection2, #timeslotSelection3, #timeslotSelection4 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#addTimeslot label {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#addTimeslot label:nth-child(3) {
    top: calc(90px - 1em); 
}

#addTimeslot label:nth-child(5) {
    top: calc(170px - 0.5em); 
}

#addTimeslot label:nth-child(7) {
    top: calc(260px - 0.5em);
}

#viewButton{
    font-family: "Century Gothic";
    font-weight: bold;
    color: #fff;
    width: 75px;
    height: 30px;
    background-color: #1854a4;
    border-radius: 10px;
    border: none; 
    outline: none;
    transition: transform 0.2s;
}



