body{
    margin: 0;
    /* pnoliveing: 0; */
    box-sizing: border-box;
    font-family: "Century Gothic";
    font-weight: bold;
}
.titleUM h1{
    position: absolute;
    margin-left: 70px;
    margin-top: 30px;
    font-size: 85px;
    font-family: "Century Gothic";
    font-weight: bold;
    color: #1450a3;
}
.noliveTitleUM h1 {
    position: absolute;
    text-align: center;
    margin-top: 60px;
    font-size: 70px;
    font-weight: bold;
    color: #1450a3;
}
.search-add input{
    position: absolute;
    margin-left: 70px;
    margin-top: 160px;
    width: 560px;
    height: 60px;
    background-color: #1450a3;
    color: white;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
#searchForm {
    margin-left: 10px;
}
.btn-sort {
    position: absolute;
    text-align: center;
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: 20px;
    margin-top: 160px;
    margin-left: 650px;
    background-color: #1450a3;
    color: white;
    width: 180px;
    height: 60px;
    border: 3px solid #1450a3;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.btn-sort:hover, .btn-sort:focus {
    background-color: white;
    outline: #1450a3 3px solid;
    color: black;
    cursor: pointer;
}
button:hover,
button:focus {
    background-color: rgba(20, 80, 163, 0.7);
    outline: white 2px;
    cursor: pointer;
}
.btn-nolive {
    position: absolute;
    text-align: center;
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: 20px;
    margin-top: 160px;
    margin-left: 850px;
    background-color: white;
    color: #1450a3;
    width: 145px;
    height: 60px;
    border: 3px solid #1450a3;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.btn-nolive:hover, .btn-nolive:focus {
    background-color: white;
    outline: #1450a3 3px solid;
    cursor: pointer;
}
button:hover,
button:focus {
    background-color: rgba(20, 80, 163, 0.7);
    outline: white 2px;
    cursor: pointer;
}
button .nolive-new {
    margin-top: 100px;
    margin-left: 100px;
}

/* TABLE */
.table-wrapper {
    Overflow-y:scroll;
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    margin-top: 299px;
    margin-left: -390px;
    width: 85%;
    height: 688px;
    background: #1450A3;
    padding: 10px;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;	
    padding: 0;
    border-spacing: 0;	
    color: white;
}    
.table tbody thead tr {
    padding: 10px;
    margin: auto;
    border: none;
    color: white;
    text-align: left;
}
.table-wrapper tbody th, td {
    /* pnoliveing: 10px 35px; */
    padding: 35px 35px;
    color: white;
    text-align: center;
    padding: 20px;
    border: none;
}
.table-wrapper tbody tr:nth-of-type(even) {
    background-color: #8BA0BD;
    border: none;
}
table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 30px;
    border: none;
}    
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #E34724;
}
table.table td i {
    font-size: 30px;
}
table.table td a.nolive i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
    
}    
table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
table.table .form-control.error {
    border-color: #f50000;
}
table.table td .nolive {
    display: none;
}

/* nolive USER */
#popup{
    z-index: 1000;
    position: fixed;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 600px;
    height: 100px;
    pnoliveing: 300px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background: #1450a3;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border-radius: 10px;
}
#popup.active{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
.registration-box {
    justify-content: center;
}
form{
    width: 100px;
    /* margin: 10 auto; Center the form horizontally */
    margin-top: 100px;
    /* margin-top: -170px; */
    margin-left: 750px;
    border: 1px black;
    font-size: 20px;
    font-family: ;
}
form input[type=text]{
    width:500px;
    height: 60px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    /* pnoliveing: 10px 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; */
}
form select#role {
    width:500px;
    height: 60px;
    border-radius: 10px;
    margin-bottom: 10px;
}
h1{
    margin-top: 28px;
    margin-bottom: 28px;
    font-size: 25px;
    font-weight: 300;
}
p{
    margin-top: 28px;
    font-size: 22px;
}
.btnSave{
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    margin-left: 200px;
    pnoliveing: 10px 43px 10px 43px;
    border: none;
    border-radius: 32px;
    font-size: 20px;
    background-color: rgb(34, 207, 34);
    color: #fcfcfc;
}
.btnSave:hover, .btnSave:focus{
    background-color: rgb(45, 235, 45);
    outline: rgb(34, 207, 34) 2px solid;
    cursor: pointer;
}
.close-btn {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    color: white;
    font-size: 34px;
}
.close-btn:hover {
    background-color: red;
    border-radius: 0 10px 0 0;
    color: #fcfcfc;
    cursor: pointer;
}

/* SIDE BAR */
#sidebar{
    position: absolute;
    top: 40px;
    width: 65px;
    height: 700px;
    background-color: #1450a3;
    border-radius: 10px;
    left: calc(100% - 65px);
}
#mmlogo2,
#historyIcon,
#logoutIcon {
    position: absolute;
}

#mmlogo2 {
    width: 30px;
    height: auto;
    top: 18px;
    left: 18px;
}

#historyIcon {
    width: 30px;
    height: auto;
    top: 125px;
    right: 15px;
    transition: transform 0.2s;
}

#historyIcon:hover {
    transform: scale(1.3);
}

#historyIcon:active {
    transform: scale(0.8);
}

#logoutIcon {
    width: 30px;
    height: auto;
    top: 635px;
    right: 15px;
    transition: transform 0.2s;
}

#logoutIcon:hover {
    transform: scale(1.3);
}

#logoutIcon:active {
    transform: scale(0.8);
}
