body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
}
.broadcastMonitor {
    flex: 1; 
    top: -20px;
    background-color: gray;
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
}

*{
    overflow: hidden;
}
#ImagePlaceholder{
    width: 100%;
    height: 100%;
    position: absolute;
    left: -2px;
    top: 0px;
}
#videoPlayer{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#trackname{
    color: white;
    font-size: 16px; 
    font-weight: bold; 
    position: relative;
    top: -8px;
    left: 10px;
    font-family: "Century Gothic";
    line-height: 25px;
    white-space: nowrap;
    animation: moveText 15s linear infinite;
}
#nameContainer{
    background-color: #083068;
    position: absolute;
    width: 265px;
    height: 30px;
    top: 20px;
    left: 100px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
}
@keyframes moveText {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

footer{
    left: 0px;
}
img[alt="cheerslogo"]{
    position: absolute;
    top: 10px;
    z-index: 1;
}
img[alt="mmlogo"]{
    bottom:15px;
}
img[alt="samcislogo"]{
    bottom:10px;
}
img[alt="slulogo"]{
    bottom:10px;
}
canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media only screen and (max-width: 720px){
    #videoPlayer{
        width: 100%;
        height:100%;
    }
    .broadcastMonitor{
        position: relative;  
        left: 5px;
        width: 700px;
        height: 400px;
    }
    #videoPlayer:fullscreen {
        width: 410px;
        height: 200px;
    }
}