body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}
.broadcastMonitor {
    flex: 1; 
    background-color: #1450a3;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

*{
    overflow: hidden;
}
#ImagePlaceholder{
    width: 100%;
    height: 100%;
    position: absolute;
    left: -2px;
    top: 0px;
}
#videoPlayer{
    position: relative;
    left: 1%;
    width: 80%;
    height: 50%;
    object-fit: cover;
    top: -5px;
}
#trackname{
    color: white;
    font-size: 16px; 
    font-weight: bold; 
    position: relative;
    top: -8px;
    left: 10px;
    font-family: "Century Gothic";
    line-height: 25px;
    white-space: nowrap;
    animation: moveText 15s linear infinite;
}
#nameContainer{
    background-color: #083068;
    position: absolute;
    width: 15%;
    height: 3.5%;
    top: 5%;
    left: 42%;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
}
@keyframes moveText {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

footer{
    left: 0px;
}
footer {
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    margin-top: auto;
    width: 100%;
    bottom: 0px;
    background-color: #1450a3;
    color: white;
    font-size: 10px;
    padding: -10px 10%;
}
.footer-p{
    margin-left: 70px;
    font-family: "Century Gothic";
    font-weight: lighter;
}
img[alt="cheerslogo"]{
    position: absolute;
    top: 3%;
    left: 2%;
    z-index: 1;
}
img[alt="slulogo2"]{
    position: absolute;
    top: 2%;
    left: 92%;
    z-index: 1;
}
img[alt="slulogo"]{
    margin-top: 50px;
    margin-left: 10px;
    bottom:12px;
    position: absolute;
}
canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 720px){
    #videoPlayer{
        width: 100%;
        height:100%;
    }
    .broadcastMonitor{
        position: relative;  
        left: 5px;
        width: 700px;
        height: 400px;
    }
    #videoPlayer:fullscreen {
        width: 410px;
        height: 200px;
    }
}